body {
    text-align: left;
    margin-top: 30px;
    font-family: var(--bs-font-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

.about-section{
    padding: 160px 20px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

.btn-branding{
    
    color: #ffff;
    background:  #6C63FF;
    height: 63px;
width: 200px;
left: 979px;
top: 1074px;
border-radius: 4px;
padding: 18px 30px 18px 30px;

}

h1{
    font-family: Playfair Display;
font-weight: 700;
letter-spacing: 0em;
text-align: left;
font-family: Playfair Display;
font-size: 64px;
line-height: 85px;

}


h3, p{
    text-align: left;
}

h2{
    font-family: Poppins;
font-size: 18px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

}



.content-container{
    padding: 160px 20px;
}

@media(max-width: 900px){

h1{
    text-align: center;
}

.content{
    text-align: center;
    margin: 30px;
}
}

@media(min-width: 1400px){
    .container{
        max-width: 1320px;
    }
}

@media(min-width: 1200px){
    .container{
        max-width: 1140px;
    }
}

@media(min-width:992px){
    .container{
        max-width: 960px;
    }
}

@media(min-width:768px){
    .container{
        max-width: 720px;
    }
}

@media(min-width:576px){
    .container{
        max-width: 540px;
    }
}


.container{
    text-align: center;
    width: 100%;
}

.content h3 {
    font-size: 24px;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;;
}